:root {
  --dark-green: #698364;
  --light-green: #c2efb4;
  --brown-green: #8da088;
  --black: #3c413d;
}

* {
  box-sizing: border-box;
}
body {
  -webkit-print-color-adjust: exact !important;
}

.container {
  min-height: 100vh;
  width: 210mm;
  display: flex;
  background-color: white;
  margin: 0 auto;
  font-family: "Barlow", sans-serif;
  position: relative;
}
main {
  width: 70%;
  padding: 5mm 10mm;
}

aside {
  flex: 1;
  width: 30%;
  background-color: var(--dark-green);
  color: white;
  padding: 71mm 5mm 5mm 5mm;
}
.photoContainer {
  width: 60mm;
  height: 60mm;
  border-radius: 50%;
  background-color: var(--light-green);
  overflow: hidden;
  position: absolute;
  top: 7mm;
  right: 7mm;
}
.photoContainer img {
  width: 100%;
  transform: translateY(-8%);
  position: absolute;
}

.separator {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--brown-green);
  margin: 5mm 0 2mm 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: var(--black);
}

h1,
h2 {
  color: var(--dark-green);
}

h1 {
  font-size: 15mm;
}
h2 {
  font-size: 6mm;
  margin: 2mm 0 2mm 0;
}
h3 {
  font-size: 3.5mm;
  font-weight: 700;
  color: var(--dark-green);
}
h4 {
  font-size: 3.2mm;
  margin: 0.5mm 0 1mm 0;
  font-weight: 600;
}
h5 {
  font-size: 3mm;
  font-weight: 400;
  text-align: right;
  min-width: 28mm;
}
h6 {
  font-size: 3mm;
  font-weight: 600;
  color: var(--dark-green);
  text-align: right;
  min-width: 32mm;
}
p {
  font-size: 3mm;
  font-style: italic;
}

aside a,
aside h4,
aside h3 {
  font-size: 3.2mm;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
aside h3 {
  font-weight: 700;
}
aside h2 {
  font-size: 3.5mm;
  color: white;
  font-weight: 700;
  margin: 4mm 0 4mm 0;
}
aside .row {
  margin: 0 0 3mm 0;
}
aside .vertical-center-align {
  display: flex;
  align-items: center;
}
aside a {
  margin: 0 0 0 2mm;
}
.workContainer,
.eduContainer {
  margin: 0 0 5mm 0;
}
.slider {
  margin: 0 0 2.5mm 0;
}
.row-space-between {
  display: flex;
  justify-content: space-between;
}

.sliderContainer {
  position: relative;
  margin: 2mm 0 2mm 0;
}
.sliderBar {
  width: 100%;
  background-color: #fff;
  border-radius: 1px;
  height: 2px;
}
.sliderCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #fff;
  background-color: var(--dark-green);
  position: absolute;
  transform: translateY(-6px);
}
#root {
  white-space: pre-line;
}
